{% extends "base.html" %}

{% block contenido_cambia %}

    <br><hr>
    <form action="{% url 'AppCoderBuscarCurso' %}">
        {{ form_busqueda.as_p}}
        <input type="submit" value="Buscar">
    </form>

   <hr><br>
   <a href="{% url 'AppCoderCrearCurso' %}">Creacion del curso</a>
    {% if cursos %}
        {% for curso in cursos %}
           
            <p>

                curso: {{curso.nombre}} camada: {{curso.camada}} 
                <a href="{% url 'AppCoderEliminarCurso' curso.camada %}">Eliminar</a>
                <a href="{% url 'AppCoderEditarCurso' curso.camada %}">Editar</a>
            </p>
            
        {% endfor %}
    {% else %}
        <h1>no hay cursos en el momento</h1>
    {% endif %}
{% endblock %}